# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints
.env
venv/
.venv/
env/

# Flutter/Dart
build/
.dart_tool/
.packages
.pub-cache/
.pub/

# Secrets
*credentials*.json
*adminsdk*.json
*firebase*.json

